.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;

    @media (max-width: 1024px) {
        position: absolute;
        width: 100%;
        background: #00000066;
        backdrop-filter: blur(4px);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition-delay: 0.3s;

        &.open {
            opacity: 1;
            visibility: visible;
            transition-delay: -0.3s;

            .sidebarmain {
                transform: translateX(0%);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    .sidebarmain {
        height: 100vh;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        border-right: 1px;
        border-style: solid;
        border-color: #ededed;
        z-index: 9;
        background-color: #fff;

        @media (max-width: 1024px) {
            max-width: 242px;
            cursor: auto;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
        }

        .sidebar-top-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 30px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px;
            border-style: solid;
            border-color: #ededed;

            @media (max-width: 576px) {
                padding: 24px 48px 18px 20px;
            }

            a {
                text-decoration: none;

                img {
                    width: 100%;
                    display: block;
                    -webkit-user-select: none;
                    user-select: none;
                    -webkit-user-drag: none;
                    -webkit-touch-callout: none;

                    @media (max-width: 576px) {
                        max-width: 174px;
                    }
                }
            }
        }

        .sidenavigation-main-content {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 30px 30px 0 0;

            @media (max-width: 576px) {
                padding: 20px 25px 0 0;
            }

            a {
                height: 50px;
                padding: 0 0 0 25px;
                position: relative;
                border-radius: 5px;
                position: relative;
                transition: 0.5s ease-in-out;
                text-decoration: none;

                .sidebar-navigation {
                    transition: 0.5s ease-in-out;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 13px;
                    background-color: transparent;
                    border-radius: 5px;

                    svg {
                        stroke: black;
                        transition: 0.5s ease-in-out;
                    }

                    span {
                        transition: 0.5s ease-in-out;
                        font-family: "Mulish", sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: -0.02em;
                        color: #45486a;
                    }
                }

                .sideborder-navlinks {
                    transition: 0.5s ease-in-out;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 5px;
                    height: 100%;
                    background-color: #fff;
                    border-radius: 0 5px 5px 0;
                }

                &:hover {
                    .sidebar-navigation {
                        background-color: #505abb;

                        svg {
                            stroke: #fff;
                            fill: white;
                        }

                        span {
                            color: #fff;
                        }
                    }

                    .dashboard-svg {
                        svg {
                            fill: transparent;
                        }
                    }

                    .sideborder-navlinks {
                        background-color: #505abb;
                    }
                }
            }

            .active {
                .dashboard-svg {
                    svg {
                        fill: transparent;
                    }
                }

                .sidebar-navigation {
                    background-color: #505abb;

                    svg {
                        stroke: #fff;
                        fill: white;
                    }

                    span {
                        color: #fff;
                    }
                }

                .dashboard-svg {
                    svg {
                        fill: transparent;
                    }
                }

                .sideborder-navlinks {
                    background-color: #505abb;
                }
            }

            .wallet-svg {
                display: none;

                @media (max-width: 768px) {
                    display: block;
                }

                a {
                    svg {
                        fill: #45486a;
                    }
                }
            }
        }
    }
}
