.dashboard-grid {
    min-height: calc(100vh - 103px);
    display: grid;
    grid-template-columns: 412px 1fr;
    font-family: "Mulish", sans-serif;

    @media (max-width: 768px) {
        display: block;
    }

    .wallet-box-dashboard {
        @media (max-width: 768px) {
            display: none;
        }

        font-family: "Mulish",
        sans-serif;
        padding: 25px 20px;

        .dashboard {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            h2 {
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
            }

            .dashboard-button {
                display: flex;
                gap: 12px;

                a {
                    text-decoration-line: none;
                }

                button {
                    padding: 10px 12px;
                    color: #fff;
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    background-color: #505abb;
                    border: 1px solid #505abb;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    svg {
                        fill: #fff;
                    }

                    &:hover {
                        background-color: transparent;
                        color: #505abb;
                        transition: 0.3s ease-in-out;

                        svg {
                            fill: #505abb;
                        }
                    }
                }
            }
        }

        .wallet-section {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 25% 1fr;
            gap: 12px;

            @media (max-width: 1300px) {
                grid-template-columns: 1fr;
            }

            .wallet-section-title {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 12px;

                .wallet-balance {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    color: #54577a;

                    svg {
                        fill: #54577a;
                    }
                }

                h4 {
                    font-family: "Mulish", sans-serif;
                    font-size: 34px;
                    font-weight: 600;
                    line-height: 43px;
                    color: #54577a;
                }
            }

            .wallet-section-boxes {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;

                @media (max-width: 1300px) {
                    grid-template-columns: 1fr;
                }

                .wallet-section-list {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: #3180ff;

                    .wallet-balance {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        font-family: "Mulish", sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        color: #fff;
                        padding-bottom: 37px;

                        svg {
                            fill: #fff;
                        }
                    }

                    h5 {
                        font-family: "Mulish", sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 23px;
                        color: #fff;
                    }
                }

                .yellow {
                    background-color: #ffa800;
                }

                .green {
                    background-color: #12b76a;
                }
            }
        }
    }
}


.kyc-tickets-main {
    .kyc-ticket-approved {
        background-color: #12B76A;
        display: none !important;
    }

    .kyc-ticket-pending {
        background-color: #FFBB00;
        display: none !important;
    }

    .kyc-ticket-rejected {
        background-color: #F05252;
        display: none !important;
    }

    .kyc-ticket-approved,
    .kyc-ticket-pending,
    .kyc-ticket-rejected {
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: "Mulish", sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: #fff;
        }

        .close-icon {
            cursor: pointer;
            color: #fff;
        }
    }
}