.notification-box {
    min-height: calc(100vh - 103px - 40px);
    padding: 20px;
    background-color: #f5f6fa;

    @media (max-width: 576px) {
        padding: 0;
        min-height: calc(100vh - 85px);
    }

    h2 {
        font-size: 26px;
        font-weight: 600;
        line-height: 39px;
        color: #54577a;
        margin-bottom: 20px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    .notification-box-title {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #505abb;

        @media (max-width: 576px) {
            display: flex;
        }

        h2 {
            display: block;
            margin: 0;
            font-family: "Mulish", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: #fff;
        }

        svg {
            fill: #45486a;
            stroke: #45486a;
            cursor: pointer;

            @media (max-width: 576px) {
                width: 20px;
                height: 20px;
                fill: #fff;
                stroke: #fff;
            }
        }
    }

    .notification-box-title {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #505abb;

        @media (max-width: 576px) {
            display: flex;
        }

        h2 {
            display: block;
            margin: 0;
            font-family: "Mulish", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: #fff;
        }

        svg {
            fill: #45486a;
            stroke: #45486a;
            cursor: pointer;

            @media (max-width: 576px) {
                width: 20px;
                height: 20px;
                fill: #fff;
                stroke: #fff;
            }
        }
    }

    .notification-inner-box {
        padding: 30px;
        background-color: #fff;
        border-radius: 6px;

        @media (max-width: 576px) {
            padding: 0 20px;
        }

        .notification-box-main {
            padding: 24px;
            border: 1px solid #e0e1e7;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 220px;
            margin-bottom: 20px;
            gap: 20px;

            @media (max-width: 1200px) {
                grid-template-columns: 1fr 155px;
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr 42px;
                cursor: pointer;

                &.expanded  {
                    display: block;

                    .notification-logo-main {
                        .notification-text {
                            span {
                                &:first-of-type {
                                    display: block;
                                }
                                &:last-of-type {
                                    display: none;
                                }
                            }
                        }
                    }

                    .notification-trash {
                        display: none;
                    }
                }
            }

            @media (max-width: 576px) {
                padding: 20px 0;
                margin: 0;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #e8e8e8;

                &:last-child {
                    border-bottom: none;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .notification-logo-main {
                display: grid;
                grid-template-columns: 52px 1fr;
                gap: 15px;

                @media (max-width: 576px) {
                    grid-template-columns: 48px 1fr;
                }

                .notification-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 52px;
                    background-color: #505abb;
                    border-radius: 50%;

                    @media (max-width: 576px) {
                        height: 48px;
                    }

                    span {
                        font-family: "Mulish", sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22.59px;
                        color: #fff;

                        @media (max-width: 576px) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }

                .notification-text {
                    p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        color: #54577a;
                        margin-bottom: 3px;

                        @media (max-width: 576px) {
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 0;
                        }
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        color: #a1a1aa;

                        &:first-of-type {
                            display: none;
                        }

                        @media (max-width: 576px) {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
            }

            .notification-trash {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                transition: 0.2s ease-in-out;

                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                    color: #a1a1aa;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                img {
                    padding: 10px;
                    border: 1px solid #ededed;
                    border-radius: 6px;
                    cursor: pointer;

                    @media (max-width: 576px) {
                        padding: 8px;
                    }
                }
            }
        }
    }
}
