body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: 412px 1fr;
    font-family: "Mulish", sans-serif;

    @media (max-width: 768px) {
        display: block;
    }

    .home-box {
        border-right: 1px solid #ededed;

        .search-input-main {
            display: none;
            padding: 20px 20px 10px 20px;
            position: relative;

            @media (max-width: 1024px) {
                display: block;
            }

            input {
                box-sizing: border-box;
                border: 1px solid #54577a2e;
                border-radius: 8px;
                padding: 16px 17px;
                width: 100%;
                font-family: "Mulish", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 17.57px;
                letter-spacing: -0.01em;
                text-align: left;
                color: #54577a;

                &::placeholder {
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.57px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    color: #54577a;
                }

                &:focus {
                    outline: none;
                }
            }

            .searchicon-main {
                position: absolute;
                top: 55%;
                right: 34px;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;

                img {
                    width: 20px;
                    height: 20px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        .box1-list {
            border-bottom: 1px solid #ededed;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (max-width: 1024px) {
                padding-left: 20px;
            }

            @media (max-width: 380px) {
                flex-direction: column-reverse;
                align-items: center;
            }

            .box1-list-link {
                display: flex;

                a {
                    display: block;
                    padding: 14px;
                    text-decoration-line: none;
                    border-bottom: 2px solid transparent;
                    font-family: "Mulish", sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20.08px;
                    color: #54577a;

                    @media (max-width: 576px) {
                        padding: 11px;
                        font-size: 14px;
                        line-height: 17.57px;
                    }

                    &:hover {
                        border-bottom: 2px solid #505abb;
                        color: #505abb;
                    }
                }
            }

            .box1-list-menu {
                padding-right: 20px;
                display: flex;
                align-items: center;
                gap: 12px;

                button {
                    padding: 5px 9px;
                    background-color: transparent;
                    border: 1px solid #505abb;
                    border-radius: 4px;
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 17.57px;
                    color: #505abb;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: #505abb;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                    }
                }

                .box1-list-menu-line {
                    padding: 15px 0.5px;
                    background-color: #ededed;
                }

                img {
                    cursor: pointer;
                }
            }
        }

        .box1-list-main {
            padding: 15px 20px;
            border-bottom: 1px solid #ededed;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 576px) {
                padding: 12px 20px;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 20.08px;
                color: #54577a;

                @media (max-width: 576px) {
                    font-size: 14px;
                    line-height: 17.57px;
                }
            }

            .box1-list-main-bin {
                display: flex;

                a {
                    &:last-of-type {
                        button {
                            margin: 0 8px;
                            background-color: #f65722;
                        }
                    }

                    button {
                        padding: 6px 14px;
                        border: none;
                        font-family: "Mulish", sans-serif;
                        border-radius: 6px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20.08px;
                        color: #fff;
                        background-color: #4184f3;
                        cursor: pointer;

                        @media (max-width: 576px) {
                            padding: 6px 11px;
                            font-size: 14px;
                            line-height: 17.57px;
                        }
                    }
                }

                .box1-list-s-font {
                    background-color: #f65722;
                }

                img {
                    padding: 5px;
                    border: 1px solid #ededed;
                    border-radius: 6px;
                    cursor: pointer;

                    @media (max-width: 576px) {
                        padding: 4px;
                    }
                }
            }
        }
    }

    .wallet-box-home {
        @media (max-width: 768px) {
            display: none;
        }

        font-family: "Mulish", sans-serif;
        padding: 25px 20px;

        .dashboard {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;

            h2 {
                font-size: 20px;
                font-weight: 600;
                line-height: 25.1px;
            }

            .dashboard-button {
                display: flex;
                gap: 12px;

                a {
                    text-decoration-line: none;
                }

                button {
                    padding: 10px 12px;
                    color: #fff;
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17.57px;
                    background-color: #505abb;
                    border: 1px solid #505abb;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    svg {
                        fill: #fff;
                    }

                    &:hover {
                        background-color: transparent;
                        color: #505abb;
                        transition: 0.3s ease-in-out;

                        svg {
                            fill: #505abb;
                        }
                    }
                }
            }
        }

        .wallet-section {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 25% 1fr;
            gap: 12px;

            @media (max-width: 1300px) {
                grid-template-columns: 1fr;
            }

            .wallet-section-title {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 12px;

                .wallet-balance {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    font-family: "Mulish", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17.57px;
                    color: #54577a;

                    svg {
                        fill: #54577a;
                    }
                }

                h4 {
                    font-family: "Mulish", sans-serif;
                    font-size: 34px;
                    font-weight: 600;
                    line-height: 42.67px;
                    color: #54577a;
                }
            }

            .wallet-section-boxes {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;

                @media (max-width: 1300px) {
                    grid-template-columns: 1fr;
                }

                .wallet-section-list {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: #3180ff;

                    .wallet-balance {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        font-family: "Mulish", sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17.57px;
                        color: #fff;
                        padding-bottom: 37px;

                        svg {
                            fill: #fff;
                        }
                    }

                    h5 {
                        font-family: "Mulish", sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22.59px;
                        color: #fff;
                    }
                }

                .yellow {
                    background-color: #ffa800;
                }

                .green {
                    background-color: #12b76a;
                }
            }
        }
    }
}
