.transaction-grid {
    min-height: calc(100vh - 103px);
    display: grid;
    grid-template-columns: 412px 1fr;
    font-family: "Mulish", sans-serif;

    @media (max-width: 1024px) {
        display: block;
    }

    @media (max-width: 576px) {
        min-height: calc(100vh - 85px);
    }

    .dashboard-box {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .transaction-box {
        overflow: hidden;

        .status-box-title {
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #505abb;

            @media (max-width: 576px) {
                display: flex;
            }

            h2 {
                display: block;
                margin: 0;
                font-family: "Mulish", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                color: #fff;
            }

            svg {
                fill: #45486a;
                stroke: #45486a;
                cursor: pointer;

                @media (max-width: 576px) {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                    stroke: #fff;
                }
            }
        }

        .transaction-box-main {
            padding: 20px;
            border-radius: 6px;

            @media (max-width: 576px) {
                padding: 0;
            }

            .transaction-box-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                @media (max-width: 576px) {
                    display: none;
                }

                h2 {
                    font-family: "Poppins", sans-serif;
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 39px;
                    color: #54577a;
                }

                a {
                    text-decoration: none;

                    .dashboard-box {
                        padding: 7px 10px 7px 0;
                        border: 1px solid #505abb;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        span {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 18px;
                            color: #505abb;
                        }
                    }
                }
            }

            .transaction-table {
                overflow-x: auto;

                table {
                    width: 100%;
                    text-align: left;
                    border-collapse: collapse;
                    font-family: "Mulish", sans-serif;

                    thead {
                        width: 100%;

                        tr {
                            th {
                                white-space: nowrap;
                                padding: 15px 30px 15px 15px;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 20px;
                                color: #54577a;
                                border: 1px solid #e9ecef;

                                @media (max-width: 576px) {
                                    padding: 15px;
                                    font-size: 14px;
                                }

                                &:first-of-type {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                white-space: nowrap;
                                padding: 20px 25px 20px 15px;
                                border: 1px solid #e9ecef;
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 22.59px;
                                color: #54577a;

                                @media (max-width: 576px) {
                                    padding: 23px 15px;
                                    font-size: 16px;
                                    line-height: 20px;
                                }

                                img {
                                    padding: 5px;
                                    border-radius: 50%;
                                }

                                &:first-of-type {
                                    padding: 10px;
                                    text-align: center;
                                }

                                &:nth-child(3) {
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 20px;

                                    span {
                                        display: block;
                                        font-size: 13px;
                                        font-weight: 600;
                                        line-height: 16px;
                                        color: #54577ab2;
                                        margin-top: 4px;
                                    }
                                }
                            }

                            .sell-data {
                                color: #f65722;

                                img {
                                    background-color: #f65722;
                                }
                            }

                            .buy-data {
                                color: #4184f3;

                                img {
                                    background-color: #4184f3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
