.Otpverify-section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 20px;

    @media (max-width: 1024px) {
        display: block;
        padding: 0;
    }

    .Polykartbanner-Otpverify {
        position: sticky;
        top: 20px;
        left: 0;
        width: 100%;
        height: calc(100vh - 40px);
        background: linear-gradient(180.38deg, #f2f5ff 0.33%, #d6d9ff 99.67%);
        overflow: hidden;

        @media (max-width: 1024px) {
            position: relative;
            top: 0;
            height: auto;
        }

        .polykartloginlogo-image {
            padding: 50px 0 90px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                @media (max-width: 576px) {
                    max-width: 152px;
                }
            }

            @media (max-width: 1024px) {
                padding: 35px 0 16px 0;
            }
        }

        .polykartloginbannerimage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                max-width: 100%;
                max-height: 370px;
                height: auto;
                display: block;
            }
        }
    }

    .Polykartlogindetails-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        @media (max-width: 1024px) {
            width: auto;
            height: auto;
            padding: 24px;
            display: block;
        }

        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 32px;
            font-weight: 600;
            line-height: 41px;
            color: #100f14;
            padding: 0 0 15px 0;

            @media (max-width: 576px) {
                font-size: 22px;
                line-height: 33px;
                padding-bottom: 2px;
            }
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.005em;
            padding: 0 0 35px 0;
            color: #49475a;

            @media (max-width: 576px) {
                font-size: 13px;
                line-height: 19.5px;
                padding-bottom: 24px;
            }
        }

        .otp-context-main {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 29px;

            @media (max-width: 576px) {
                gap: 11px;
            }

            input {
                display: block;
                border: 1px solid #cbcad7;
                background-color: transparent;
                height: 64px;
                width: 64px;
                padding: 19px 20px;
                box-sizing: border-box;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 25px;
                text-align: center;
                color: #686677;
                border-radius: 6px;

                @media (max-width: 576px) {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    padding: 5px;
                    font-size: 14px;
                    line-height: 20px;
                }

                &::placeholder {
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 25px;
                    text-align: left;
                    color: #686677;

                    @media (max-width: 576px) {
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        color: #858296;
                    }
                }

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .didnt-recive-otp-text {
            text-align: center;
            padding: 40px 0 35px 0;

            @media (max-width: 576px) {
                padding: 25px 0 20px 0;
            }

            p {
                padding: 0;
                margin: 0 0 10px 0;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.005em;
                text-align: center;
                color: #49475a;

                @media (max-width: 576px) {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 19.5px;
                }
            }

            a {
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: 0.005em;
                text-align: center;
                color: #505abb;

                @media (max-width: 576px) {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                }
            }
        }

        .Continue-button a {
            width: 100%;
            display: block;
            text-decoration-line: none;

            button {
                cursor: pointer;
                width: 100%;
                padding: 12px 0;
                box-sizing: border-box;
                border: 2px solid #505abb;
                border-radius: 8px;
                background-color: #505abb;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Poppins", sans-serif;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                text-align: center;
                transition: all 0.5s ease-in-out;

                @media (max-width: 576px) {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                }

                &:hover {
                    background-color: transparent;
                    color: #000;
                }
            }
        }
    }
}
