.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.main-layout-body {
  display: grid;
  grid-template-columns: 252px 1fr;
  width: 100%;
}

.main-layout-content {
  height: 100vh;
  display: grid;
  grid-template-rows: 102px 1fr;
}

.main-layout {
  overflow-y: auto;
}

@media (min-width: 1400px) {
  .main-layout-body {
    grid-template-columns: 20% 1fr;
  }
}

@media (max-width: 1024px) {
  .main-layout-body {
    display: block;
  }
}

@media (max-width: 576px) {
  .main-layout-content {
    grid-template-rows: 84px 1fr;
  }
}
